@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
:root {
    --rose-800: #7a284e;
    --rose-50: #fff7fb;
    --stone-900: #312e2c;
    --stone-600: #5f564d;
    --stone-150: #e3ddd7;
    --stone-100: #f3e5d7;
    --brown-800: #854632;
    --white: #ffffff;
}
body {
    background-color: var(--stone-100);
}
.box {
    background-color: var(--white);
    margin: 0 25vw;
    padding: 6vh 4vw 4vh 4vw;
    border-radius: 24px;
}
.head_img {
    width: 39.8vw;
    border-radius: 12px;
}
.preset-text-1 {
    font-family: 'Young Serif';
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
}
.preset-text-2 {
    font-family: 'Young Serif';
    font-size: 28px;
    font-weight: normal;
    line-height: 100%;
    letter-spacing: 0px;
}
.preset-text-3 {
    font-family: 'Outfit';
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
}
.preset-text-4 {
    font-family: 'Outfit';
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
}
hr {
    color: var(--stone-150);
    border-style: solid;
}
.heading {
    color: var(--stone-900);
}
.time {
    background-color: var(--rose-50);
    color: var(--rose-800);
    padding: 1vh 1.8vw;
    border-radius: 12px;
}
.time__list__item,
.ingridients__list__item,
.instructions__list__item {
    color: var(--rose-800);
}
.recipe-description,
.time__list__item span,
.ingridients__list__item_text,
.ingridients__list__item span,
.ingridients__list__item span,
.nutrition__paragraph,
.nutrition__table_description {
    color: var(--stone-600);
}
.ingridients__heading,
.instructions__heading,
.nutrition__heading {
    color: var(--brown-800);
}
.nutrition__table_amount {
    color: var(--brown-800);
    font-weight: 600;
}
.nutrition__table {
    width: 107%;
}

.nutrtion__table_row {
    display: flex;
}
table {
    width: 93%;
    border-collapse: collapse;
}
th,
td {
    border-bottom: 2px solid var(--stone-150);
    padding: 8px;
    text-align: left;
}
.nutrition__table_last td {
    border-bottom: none;
}
.nutrition__table_description {
    padding: 2vh 1vw 2vh 2vw;
}

/* /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
    }
    .box {
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
    .head_img {
        border-radius: 0;
        width: 100vw;
    }
    .heading {
        margin: 5vh 10vw 2vh 10vw;
        font-size: 2.2rem;
    }
    .recipe-description {
        margin: 5vh 10vw;
        font-size: 0.95rem;
    }
    .time {
        padding: 1vh 8vw;
        margin: 0 10vw;
    }
    .ingridients,
    .nutrition,
    hr,
    .instructions {
        margin: 0 10vw;
    }

    .nutrition__table {
        margin: 0 10vw;
        width: 80%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .box {
        margin: 12vh 8vw;
        padding: 6vh 6vw 4vh 6vw;
        width: 100%;
    }
}
